@charset "UTF-8";
/*saas & scss
Convention dev saas & Sccs haut fichier
$variable:;
Stocks =>Color,famille police
*/
/*Var-all:
*/
/*Color-all:
*/
/*rouge*/
/*violet-foncé*/
/*rose-clair*/
/*vert-clair*/
/*vert-claire-c*/
/*vert-sombre*/
/*gris-sombre*/
/*gris-clair*/
/*blanc*/
/*noir*/
/*font-family all:
*/
/*ok*/
/*ok*/
/*function-all
*/
/*saas & scss (end)
*/
/*Surcharge>>
*/
html,
body,
header,
main,
footer,
nav,
address,
section,
div,
article,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
span,
a,
i,
pre,
code {
  font-weight: unset;
  line-height: unset;
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

/*Balises sémantiques::
minimum =>header, nav,h1,main,section,footer=>True
*/
/******Css Pricipal Mobile first+++***********/
* {
  /*All-éléments-Dom*/
  /*font-family: Roboto,sans-serif;*/
}

div, span, p, h2, h4 {
  font-family: Roboto, sans-serif;
}

/*Design System Config:
*/
:root {
  /*Var-all*/
  /*Text configuration*/
  /*var-all font-size*/
  --size-15-04:0.94rem;
  --size-16:1rem;
  --size-17:1.063rem;
  --size-18:1.125rem;
  --size-24:1.5rem;
  --size-28:1.75rem;
  --size-30:1.875rem;
  /*var font-weight*/
  --font-weight-300:300;
  --font-weight-400:400;
  --font-weight-500:500;
  --font-weight-700:700;
  /*var-all line-height*/
  --line-height-16-41:1.026rem;
  --line-height-17-63:1.102rem;
  --line-height-18-75:1.172rem;
  --line-height-19-92:1.245rem;
  --line-height-21-09:1.318rem;
  --line-height-26-24:1.64rem;
  --line-height-28-13:1.758rem;
  --line-height-40-82:2.551rem;
}

/*Icone-All
*/
.fa-solid {
  /*Icone-color*/
  color: #353535;
}

.fa-lg {
  /*Taille*/
  font-size: 1.25rem;
}

/*Color-All add Dom
*/
.c1 {
  color: #fff;
}

.c2 {
  color: #7e7e7e;
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  /*max-width: 1440px;/*desktop*/
  /*width: 375px;/*mobile first*/
  /*padding: 0 50px; */
  border: 0px solid red;
  box-sizing: border-box;
}

/*font-all Add elem (x) Dom class=""
*/
/*Mobil Menu:
*/
.text-1 {
  /*h1*/
  font-size: var(--size-28);
  line-height: var(--line-height-40-82);
  font-weight: var(--font-weight-400);
  font-family: "Shrikhand", serif;
  /*syntax google*/
}

.text-2 {
  /*Entrées*/
  font-size: var(--size-16);
  line-height: var(--line-height-18-75);
  font-weight: var(--font-weight-300);
}

.text-3 {
  /*Fricassée d'escargot*/
  font-size: var(--size-18);
  line-height: var(--line-height-21-09);
  font-weight: var(--font-weight-700);
}

.text-4 {
  /*Au piment d'espelette*/
  font-size: var(--size-15-04);
  line-height: var(--line-height-17-63);
  font-weight: var(--font-weight-300);
}

.text-5 {
  /*Button - Commander*/
  font-size: var(--size-16);
  line-height: var(--line-height-18-75);
  font-weight: var(--font-weight-500);
}

/*footer
*/
.text-6 {
  /*ohmyfood*/
  font-size: var(--size-18);
  line-height: var(--line-height-26-24);
  font-weight: var(--font-weight-400);
  font-family: "Shrikhand", serif;
  /*syntax google*/
}

.text-7 {
  /*Proposer un restaurant*/
  font-size: var(--size-16);
  line-height: var(--line-height-18-75);
  font-weight: var(--font-weight-500);
}

.text-8 {
  /*Devenir partenaire*/
  font-size: var(--size-16);
  line-height: var(--line-height-18-75);
  font-weight: var(--font-weight-400);
}

/*Surcharge-All
***************/
/*<header>-All 
***************/
/*Composant-1
*/
.container-logo {
  /*flex*/
  width: 100%;
  display: flex;
  justify-content: center;
}

.flech-retourn {
  height: 16px;
  /*fima*/
  width: 17.2px;
  /*fima*/
  position: absolute;
  left: 20px;
  margin-top: 12px;
}

.logo {
  /*fima*/
  height: 44px;
  width: 162px;
}

/*<main>-All
*/
/*Composant-2
*/
.container-image {
  height: 275px;
  width: 100%;
  border: 0px solid red;
  box-sizing: border-box;
  overflow: hidden;
  
}

.c2-image {
  height: 275px;
  width: 100%;
 object-fit:cover;
}

/*Composant-3
*/
.container-composant-3 {
  z-index: 1;
  position: relative;
  margin-top: -64px;
  border-radius: 2rem 2rem 0 0;
  padding: 20px 20px 0px 20px;
  /*trbl*/
  box-sizing: border-box;
  background-color: #f6f6f6;
}

.container-menu-top {
  width: 100%;
}

.container-menu-Corps {
  padding: 10px 0px 10px 0px;
  box-sizing: border-box;
}

.cart-coeur {
  height: 21px;
  width: 22px;
  position: absolute;
  right: 35px;
  margin-top: -30px;
  border: 0px solid red;
  background-color: #f6f6f6;
  cursor: pointer;
}

.icon-coeur-1 {
  position: absolute;
  left: 0px;
  font-size: 21px;
  color: #000;
  opacity: 1;
}

.icon-coeur-2 {
  position: absolute;
  font-size: 21px;
  color: #000;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: 0.7s;
}

.icon-coeur-1:hover {
  opacity: 0;
}

.icon-coeur-2:hover {
  opacity: 1;
}

.menu-corp-titre {
  text-transform: uppercase;
  /*majuscule le texte*/
}

.menu-corp-trait {
  width: 40px;
  /*fima*/
  border-bottom: 3px solid #99E2D0;
  /*fima*/
  margin-top: 5px;
  margin-bottom: 5px;
}

/*Cart=>All
*/
.menu-corp-carts {
  /*flex*/
  max-width: 100%;
  border-radius: 0.75rem;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /*Debug*/
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*(.menu-corp-carts)+++ =>content*/
.compos-3-container {
  height: 69px;
  /*fima*/
  width: 100%;
  position: relative;
  z-index: 0;
}

.compos-3-container input[type=checkbox] {
  display: none;
}

.compos-3-container label {
  display: block;
  position: relative;
  z-index: 999;
  height: 69px;
  /*fima*/
  cursor: pointer;
  background: orange;
  background: unset;
}

.compos-3-B_0 > .compos-3-B_3 {
  margin-right: -59px;
  /*fima*/
  transition-property: margin-right;
  transition-duration: 0.5s;
}

.xxxcompos-3-container input[type=checkbox]:checked ~ .compos-3-B_0 > .compos-3-B_3 {
  margin-right: 0px;
  transition-property: margin-right;
  transition-duration: 0.5s;
}

.xxxcompos-3-container label:hover ~ .compos-3-B_0 > .compos-3-B_3 {
  margin-right: 0px;
  cursor: default;
}

.compos-3-B_0 {
  /*flex(3)*/
  display: flex;
  justify-content: flex-start;
  height: 69px;
  position: relative;
  top: -69px;
  z-index: 100;
}

.compos-3-B_1 {
  /*e-1*/
  height: 69px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 20px;
  box-sizing: border-box;
}

.compos-3-B_1_1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.compos-3-B_2 {
  padding: 20px;
  padding-top: 40px;
  box-sizing: border-box;
}

.compos-3-B_3 {
  height: 69px;
  width: 59px;
  padding: 20px;
  padding-top: 25px;
  box-sizing: border-box;
  background-color: #99e2d0;
}

.compos-3-B_3_e-1 {
  height: 20px;
  width: 20px;
  border-radius: 100px;
  padding-left: 2px;
  padding-top: 2px;
  box-sizing: border-box;
  background-color: #fff;
}

.compos-3-B_3_e-2 {
  color: #99e2d0;
  font-weight: 900;
}

/*Composant-4
*/
.container-composant-4 {
  /*flex*/
  display: flex;
  justify-content: center;
  padding: 30px;
  padding-top: 15px;
  box-sizing: border-box;
  background-color: #f6f6f6;
}

.composant-4-bt {
  /*saas&scss =>@include*/
  /*Button-*/
  /*ok*/
  height: 50px;
  /*fima*/
  width: 186px;
  /*fima*/
  cursor: pointer;
  color: #fff;
  text-align: center;
  border-radius: 100px;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
}

.composant-4-bt:hover {
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-image: linear-gradient(0deg, #9356DC, #ff88de);
}

/*<footer>-All
*/
/*Composant-6
*/
.container-footer {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #353535;
}

.footer-e1 {
  width: 100%;
}

.footer-e1-e1 {
  width: 137.58px;
  height: 27px;
  color: #fff;
  margin-bottom: 20px;
}

.li-footer-e2 {
  margin-bottom: 15px;
}

.footer-icon {
  color: #fff;
}

.footer-text-1 {
  color: #fff;
}

/*Margin-All
*/
.m-t_20 {
  margin-top: 20px;
}

/*Animations CSS All
*/
/*animate_dev_nas1 (Menu)
*/
.animat_nas_1 {
  transform-origin: left;
  animation: animat_nas_2 800ms;
}

.animat_nas_2 {
  transform-origin: center;
  animation: animat_nas_2 1600ms;
}

.animat_nas_3 {
  transform-origin: right;
  animation: animat_nas_2 2400ms;
}

/*animate_dev_nas2 (Menu)
*/
.animat_nas_1x {
  transform-origin: center;
  animation: animat_nas_2 800ms;
}

.animat_nas_2x {
  transform-origin: center;
  animation: animat_nas_2 1600ms;
}

.animat_nas_3x {
  transform-origin: center;
  animation: animat_nas_2 2400ms;
}

@keyframes animat_nas_2 {
  0% {
    transform: scaleX(0);
    opacity: 0.2;
  }
  50% {
    transform: scaleX(0);
    opacity: 0.5;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
@media (max-width: 1440px) {
  /*Mobile,Tablette*/
  /*True*/
  .compos-3-container input[type=checkbox]:checked ~ .compos-3-B_0 > .compos-3-B_3 {
    margin-right: 0px;
    transition-property: margin-right;
    transition-duration: 0.5s;
  }
}
@media (min-width: 1440px) {
  /*Desktop,*/
  /*True*/
  /*Composant-3
  */
  .container-composant-3 {
    width: 1055px;
    /*fima=>desktop*/
    margin: auto;
    margin-top: -34px;
    padding: unset;
  }

  .container-menu-top {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }

  .cart-coeur {
    height: 21px;
    /*fima*/
    width: 22px;
    /*fima*/
    position: absolute;
    margin-top: -30px;
    margin-right: 300px;
  }

  .container-menu-Corps {
    width: 634px;
    /*fima*/
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
  }

  /*Composant-4
  */
  .container-composant-4 {
    width: 1055px;
    /*fima=>desktop*/
    margin: auto;
  }

  /*Composant-6
  */
  .container-footer {
    padding: unset;
    height: 114px;
    /*fima*/
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #353535;
    display: flex;
    flex-direction: row-reverse;
  }

  .footer-e1 {
    height: 70px;
    width: 137.58px;
    padding-top: 35px;
    box-sizing: border-box;
  }

  .footer-e1-e1 {
    margin: unset;
    height: 27px;
    width: 137.58px;
  }

  .ul-footer-e2 {
    height: 70px;
    width: 700px;
    padding-top: 35px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
  }

  .li-footer-e2 {
    margin-bottom: unset;
    margin-right: 10px;
    box-sizing: border-box;
  }

  .li-footer-e2-id_2 {
    margin-right: 50px;
  }

  /*Animation
  */
  .compos-3-container label {
    cursor: unset;
  }

  .compos-3-container label:hover ~ .compos-3-B_0 > .compos-3-B_3 {
    margin-right: 0px;
    cursor: default;
  }
}